.rownr {
	overflow-y: hidden;
	background-color: #2980B9;
	color: white;
	text-align: right;
	vertical-align:top;
	z-index: 0;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	padding-top: 10px;
}

.txt {
	width: 94%;
	overflow-x: scroll;
	background: transparent;
	z-index: 0;
	padding: 10px;
	padding-left: 16px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	border: 0px;
}
